@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?vfey7u');
    src: url('fonts/icomoon.eot?vfey7u#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?vfey7u') format('truetype'), url('fonts/icomoon.woff?vfey7u') format('woff'), url('fonts/icomoon.svg?vfey7u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mouse-pointer:before {
    content: "\e90a";
}

.icon-eye:before {
    content: "\e909";
}

.icon-info:before {
    content: "\e908";
}

.icon-close:before {
    content: "\e907";
}

.icon-help:before {
    content: "\e904";
}

.icon-print:before {
    content: "\e905";
}

.icon-search:before {
    content: "\e906";
}

.icon-exclamation:before {
    content: "\e900";
}

.icon-basemap:before {
    content: "\e901";
}

.icon-legend:before {
    content: "\e902";
}

.icon-layers:before {
    content: "\e903";
}

/*  Tags  */
header {
    background: #00008B;
}

table, th, td {
    border: none;
}

ul {
    list-style: none;
}

button, .button {
    background: #D67E0A;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    padding: .25em 1em;
}

/* IDs */
#search-container {
    position: absolute;
    left: 100px;
    top: 10px;
    z-index: 999;
}

#search-container #searchBox {
    background: #FFFFFF;
    border: 1px solid #ccc;
    left: 0;
    padding: .5em;
    width: 175px;
}

#divLayerVisibility {
    position: absolute;
    width: 400px !important;
    height: 400px !important;
}

#search-results {
    background: #fff;
    border: 1px solid #ccc;
    height: 400px;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    z-index: 999;
}

#search-results #divApplicationDetails {
    height: 300px;
}

/* Classes */
.widget {
    background: #fff;
    border: 1px solid #777;
    display: none;
    position: absolute;
    right: 0;
    width: 300px;
}

.widget h2 {
    color: #fff;
    background: #777;
    margin: 0;
    padding: .25em;
}

.widget h2 .icon-close {
    position: absolute;
    right: 5px;
    top: 5px;
}

.vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
}

/* Theme overwrite */
.tundra .dijitTitlePaneTitle, .tundra .dijitButtonNode, tundra .dijitDisabled {
    background: #D67E0A;
    border: none;
    color: #fff;
    font-size: 1.25em;
}

.tundra .dijitTitlePane .dijitArrowNode, .tundra .dijitFieldset .dijitArrowNode {
    display: none;
}

.tundra .dijitTextBoxReadOnly, .tundra .dijitTextBoxReadOnly .dijitButtonNode, .tundra .dijitButtonDisabled .dijitButtonNode, .tundra .dijitToggleButtonDisabled .dijitButtonNode, .tundra .dijitDropDownButtonDisabled .dijitButtonNode, .tundra .dijitComboButtonDisabled .dijitButtonNode, .tundra .dijitTextBoxDisabled, .tundra .dijitTextBoxDisabled .dijitButtonNode {
    color: #D67E0A;
}

.tundra .dijitAccordionTitleSelected {
    background: #00008B;
}

.tundra .dijitButtonHover .dijitButtonNode, .tundra .dijitButtonNodeHover, .tundra .dijitToggleButtonHover .dijitButtonNode, .tundra .dijitDropDownButtonHover .dijitButtonNode, .tundra .dijitComboButton .dijitButtonContentsHover, .tundra .dijitComboButton .dijitDownArrowButtonHover {
    border-color: #a5beda;
    border-bottom-color: #5c7590;
    color: #fff;
    background: #c3740b;
}

.tundra .dijitTitlePaneHover .dijitTitlePaneTitle, .dijitButtonNode:hover {
    border-color: #a5beda;
    border-bottom-color: #5c7590;
    color: #fff;
    background: #c3740b;
}